@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap");

body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #f2f2f2;
}
.p {
  text-align: center;
}
.h2 {
  text-align: center;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ofearz {
  width: 50%;
  height: 50%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}
.center {
  text-align: center;
}

.card {
  border: 5px solid rgb(32, 216, 87);
  height: 70%;
  padding: px;
}

.alignLeft {
  text-align: left;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
}
