@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap");

body {
  position: relative;

  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.p {
  text-align: center;
}
.h2 {
  text-align: center;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
